VITE_APP_NAME=Resturantes
VITE_API_URL=http://localhost:4000
VITE_SOCKET_URL=http://localhost:4000
VITE_CLIENT_PUBLIC_URL=https://resturantesclientes.netlify.app
VITE_ADMIN_PUBLIC_BASE_URL=https://resturantes.lat
VITE_ADMIN_TEST_PUBLIC_BASE_URL=https://admin.ordex.lat
