VITE_APP_NAME=Resturantes
VITE_API_URL=https://api-resturantes.ordex.lat
VITE_SOCKET_URL=https://api-resturantes.ordex.lat
VITE_CLIENT_PUBLIC_URL=https://resturantesclientes.netlify.app
VITE_ADMIN_PUBLIC_BASE_URL=https://resturantes.lat
VITE_ADMIN_TEST_PUBLIC_BASE_URL=https://admin.ordex.lat
